<!DOCTYPE html>
<html lang="fr">
<head>
        <title>MVC Cinema </title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
        
        <link rel="shortcut icon" href="view/web/img/favicon.ico" />

        {# CDN BOOSTRAP #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>

        {# Boostrap RESPONSIVE #}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {# Custom CSS #}
        <link rel="stylesheet" href="view/web/css/base.css" media="screen" />

        {# Custom JS #}
        {#  <script src="view/web/js/base.js"></script> #}

        {# Font Awesome Icons #}
        {# <script src="https://kit.fontawesome.com/5f43c40889.js" crossorigin="anonymous"></script> #}
</head>
<body>
       {#  <div>Welcome, {{session.user}} </div> #}
                        {# Fost Teleport B pt. login #}
<header>
        {#      
        <nav>
                <button id='btn-home' type="button text-black" class="btn btn-dark"><a href={{action}}>{{Login}}</a></button>
                <button id='btn-disco' type="button" class="btn btn-light"><a href="logout">Disconnect</a></button>
                <button id='btn-creation' type="button" class="btn btn-dark"><a href="register">Register</a></button>
                <button id='btn-films' type="button" class="btn btn-light"><a href="index.php">Films</a></button>
                <button id='btn-compte' type="button" class="btn btn-light"><a href="users">Account</a></button>
                <button style={{disparition}} id='btn-compte' type="button" class="btn btn-light"><a href="addMovie">AddFilm</a></button>
        </nav> 
        #}

{# NAVIGATOR #}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="movies" id='logo'><i class="fas fa-film fa-1x"></i> Cinémathèque</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">

                                {# HOME #}
                                <li class="nav-item ">
                                        <a class="nav-link text-white" href='movies'>Movies <span class="sr-only">(current)</span></a>
                                </li>

                                {# ACCOUNTS #}
                                {# <li class="nav-item">
                                        <a class="nav-link" href='users'>Account <span class="sr-only">(current)</span></a>
                                </li> #}

                                {# ADDFILM #}
                                <li class="nav-item">
                                        <a class="nav-link text-white" style={{disparition}} href='addMovie'>AddFilm <span class="sr-only">(current)</span></a>
                                </li>

                                {# old REGISTER #}
                                {# <li class="nav-item">
                                        <a class="nav-link" style={{disparitionRev}} href='register'>Register <span class="sr-only">(current)</span></a>
                                </li> #}
                                
                                
                        </ul>
                        <span class="navbar-text">
                                {{session.user}}
                                {# Teleport B actual pt afisare "cur@cur.cur" #}
                        </span>

                {# DYNAMIC BUTTONS #}
                        {# REGISTER Dynamic #}
                        <a class="nav-link text-white btn-disconnect" style={{disparitionRev}} href='register'>Register <span class="sr-only">(current)</span></a>

                        {# LOGIN / DISCONNECT Dynamic #}
                        <a class="nav-link text-white btn-disconnect" href={{action}}>{{Login}} <span class="sr-only">(current)</span></a>
                        
                </div>
        </nav>
</header><hr>